registry=https://repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/
email=ccsl@tas.com
strict-ssl=false
maxsockets=3
sass_binary_site=https://repo:8443/artifactory/gen-npm3rdparty-local/node-sass
nodejs_org_mirror=https://repo:8443/artifactory/gen-npm3rdparty-local/nodejs.org/dist/
always-auth=true
unsafe-perm=true
@ccsl:registry=https://repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/
@ccsl://repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/:_auth="Y2NzbF9yZWFkOkFQOUNQUENqVmp1czV2ZE5wVmNZR043TlFwUg=="
@ccsl://repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/:email=ccsl@tas.com
@ccsl://repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/:always-auth=true
//repo.aes.alcatel.fr:8443/artifactory/api/npm/npm-ccsl-virtual/:_auth="Y2NzbF9yZWFkOkFQOUNQUENqVmp1czV2ZE5wVmNZR043TlFwUg=="
